@font-face {
    font-family: "PKMN-Pinball";
    src: local("PKMN-Pinball"), url("./assets/fonts/PKMN-Pinball.ttf") format("truetype");
    font-weight: bold;
}

:root {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #6fcb9f;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: 2px solid black;
    border-radius: 15px;
}
